@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply 
    w-1/2
    m-auto
    grid grid-rows-5 gap-4
    place-items-center
    bg-background-dark rounded-lg
}

.notification-item {
    @apply
    border: 1px solid secondary; 
    border-radius: 4px; 
    padding: 10px 15px; 
    margin-bottom: 5px; 
}